* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #61744A;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.school-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a.active {
    color: #fdd835; /* Yellow color for active link */
}

.nav-links a:hover {
    color: #fdd835;
}

.search-icon {
    font-size: 1.2rem;
    color: #ffffff;
    cursor: pointer;
}
